* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #39bb89;
}

.options {
    display: flex;
    list-style: none;

}

.option {
    margin: 0 25px;
    position: relative;
    border-radius: 50%;
}

.option a {
    position: relative;
    background: #fff;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: .3s;
}

.option a:hover {
    background: #128056;
}

.option a .fas {
    font-size: 30px;
    color: #128056;
    transition: .3s;
}

.option a:hover .fas {
    color: #fff;
}

.option a span {
    position: absolute;
    color: #128056;
    background: #fff;
    font-family: sans-serif;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.option a:hover span {
    top: 70px;
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
}